.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    border-top: 4px solid #002800;
    border-bottom: 4px solid #002800;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);

}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35vw;
    text-shadow: 4px 4px 5px #00000080;

}

.header-image {
    height: 15vh;
    width: 20vh;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px;;
}

.header-title,
.header-subtitle {
    font-family: 'Newsreader', serif;
}

.header-title {
    font-size: 60px;
    margin-bottom: 0px;
}

.header-subtitle {
    font-size: 20px;
    margin-top: 0px;
}
