.card {
    border-radius: 3%;
    width: 350px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px grey;
    position: relative;
    background-color:FEFEFA;
    border: 3px solid #002800;
    overflow: auto;
    align-items: center;
    font-family: 'Newsreader', serif;
    padding: 5px;
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.article-image {
    height: 275px;
    width: 220px;
    border-radius: 2%;
}

.article-title {
    text-align: center;

}